# temp test file
testfile.py
minitest.py
anotherTest.py
test_main.py
test_calc.py

# downloaded files
*.json

# pycache
*.pyc
__pycache__/

# virtualenv
.venv
venv/
ENV/

# vscode
.vscode/

# macOS
.DS_Store
